.titulo{
    background: #dca4c6d7;
    color: rgb(11, 11, 11);
    height: 90px;
    
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
}