.titulo{
    background: #6c9795d7;
    color: rgb(253, 253, 253);
    height: 90px;
    
    width: 100%; 
    left: 0; 
    top: 0; 
}

.header1 {
    background: #6c9795d7;
    color: rgb(253, 253, 253);
    height: 90px;
    
    width: 100%; 
    left: 0; 
    top: 0; 
}

.Sneakers1 {
    margin: 0;
    padding: 0.3rem;
    background-color: rgb(128, 128, 128);
    font: 1rem 'Fira Sans', sans-serif;
}

.Sneakers1 > h1,
.sneakers {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.sneakers {
    background: right/contain content-box border-box no-repeat rgb(211, 211, 211);
}

.sneakers > h2,
.sneakers > p {
    margin: 0.2rem;
    font-size: 1rem;
}

table, td {
    border: 1px solid black;
}

.aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}

.footer {
    background: #6c9795d7;
    color: rgb(253, 253, 253);
    height: 90px;
    
    width: 100%; 
    left: 0; 
    top: 0; 
}

.body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

.piePagina {
    background: #6c9795d7;
    color: rgb(253, 253, 253);
    height: 35px;
    
    width: 100%; 
    left: 0; 
    top: 0; 
}

