* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body, html {
    margin:0;
    padding:0;
}

div {
    background-color: white;
}

/* Conteiners */
.container {
    padding: 0px;
    height: 100vh;
    background-color: rgb(244, 245, 249);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.container-1 {
    flex-direction: row;
    display: flex;
}

.container-2 {
    flex-direction: column;
    display: flex;
}

.container-4 {
    flex-direction: row;
    display: flex;
}


/* ID */
#header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 189, 240);
}

#header-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    margin: 30px;
}

#header-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    margin: 30px;
    padding-right: 10px;
}


#grid-2 {
    grid-column: 1 / -1;
    grid-row: 2 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 247);
}

#grid-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 10px;
}

#grid-2-1-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: xx-large;
}

#grid-3 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
}

#grid-3-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 10px;
}

#grid-4 {
    grid-column: 1 / -1;
    grid-row: 6 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 255);
}

#grid-4-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    padding: 15px;
}

#footer {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 189, 240);
}

/* Flex containers */

.flex-container-1 {
    display:flex;
    justify-content: space-evenly;
    align-content: left;
    color: white;
}

.flex-container-2 {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}

.flex-container-3 {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}

.flex-container-4 {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    color: black;
}

.flex-container-5 {
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    color: white;
}

.input1 {
    background-color: rgb(184,134,11);
}

figcaption {
    font-size: 10px;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
